<div class='container'>
  <div class='pt-5 d-flex align-items-center justify-content-between'>
    <h2 class='fw-light mb-0'>Tasks</h2>
    <div *ngIf='tasks' class='rounded-pill bg-gray px-2 py-1'>Tasks: <b>{{tasks.length}}</b></div>
  </div>
  <div class='divider mt-1 mb-3'></div>
  <div #todoList *ngIf='tasks'>
    <app-todo-item [mode]='newMode' (whenAddTask)='addNewTask($event)'></app-todo-item>
    <app-todo-item [mode]='viewMode' *ngFor='let task of tasks' [task]='task' (whenRemoveTask)='removeTask($event)' (whenUpdateTask)='updateTask($event)'></app-todo-item>
  </div>
</div>
